{% extends 'base.html' %}
{% block title %}INDEX{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
      <h3>アプリの使用方法</h3>
      <br />
        <h5>(動画のアップロードについて)</h5>
          <p>
            &emsp;ログインすると「TWEET」、「ITA」がナビ、ボタンが現れます。<br />
            どちらか選んでクリックしてください。クリックすると、読み上げ文の一覧が表示されます。<br />
            読み上げ文の横にある数字は、今までに上がっている動画の総数です。<br />
            読み上げの際は、読み仮名の方を読みあげてください。<br />
            表示されている文章を読み上げた動画をスマホで撮影し、対応する文章をクリックし、アップロードフォームからアップロードしてください。<br />
            また、撮影の際、逆光など避けて、顔がはっきりと映るようにお願いします。<br />
            (*この時、動画のアップロードに少し時間がかかります。<br />
            完了のメッセージがくるまで、<span style="color: red;">アプリを閉じずにお待ちください。</span>)
          </p>
          <br />
        <h5>(パスワードを忘れた場合について)</h5>
          <p>
            &emsp;パスワードを忘れた場合は、ログイン画面に<b>「パスワードをお忘れの方」</b>とありますので、そちらから再設定を行えます。<br />
            また、仕様上、全くメールが届かなくなる場合があります。その場合は下記のメールアドレスに学籍番号だけを表記してご連絡ください。<br />
            こちらで変更を行い、メールをします。<br />
          </p>
          <br />
          <p>
            (上記の記載以外で、わからないことがあれば、「s18f1005@bene.fit.ac.jp」まで問い合わせの程、よろしくお願いします。)
          </p>
    </div>
</div>
{% endblock%}
